<app-home></app-home>
<div id="form"><h1 style="margin-bottom: 20px;">Send Us your enquiries</h1>


    <div style="overflow: hidden;">
        <div class="formbox">
            <h4>First Name</h4>
            <input type="text" [(ngModel)]="fname">*
        </div>
        <div class="formbox">
            <h4>Last Name</h4>
            <input type="text" [(ngModel)]="lname">*
        </div>
        <div class="formbox">
            <h4>Email</h4>
            <input type="email" [(ngModel)]="email">*
        </div>
       
        <div class="formbox">
            <h4>Message</h4>
            <textarea [(ngModel)]="message"></textarea>*
        </div>
    </div>
    <div class="alert alert-info" *ngIf="errors.length>0">
        <ul >
            <li *ngFor="let x of errors">{{x}}</li>
        </ul>
    </div>
    <div style="margin:30px;"><button class="btn btn-secondary" (click)="submit()">Submit Enquiry</button></div>
    </div>
    
    
    
    
