<!-- <mat-toolbar class="logo">
    <img src="http://localhost/fp1.png">
    <div class="tab">
    <ul>
       <li><button mat-raised-button routerLink="/userhome">HOME</button></li>
       <li> <button mat-raised-button  routerLink="/healthcare">HEALTH CARE</button></li>
        <li> <button mat-raised-button  routerLink="/feedback">ENQUIRY</button></li>
        <li><button mat-raised-button (click)="logout()">Logout</button></li>
    </ul>
    </div>
</mat-toolbar> -->
<!-- <app-user1home></app-user1home> -->
<!-- <div class="bg">
<img src="http://localhost/para.avif">
</div> -->
<app-navbar></app-navbar>