.example-spacer {
    flex: 1 1 auto;
    margin-left: 550px;
    margin-top: 10px;
   
  }
 
  button{
    margin-right: 7px;
  }
  
  .main-body {
    padding-top: 0px;
    /* margin: 0 auto; */
    width: 1200px;
    margin-left: 30px;
    
  }
  mat-form-field{
    width: 1000px;
    /* margin-top: 50px; */
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  td{
    text-align: center;
  }
.one{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;

    
}
.two{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}
.three{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}
 h4{
    border: 1px solid rgb(3, 84, 3);
    background-color: rgb(3, 84, 3);
    border-radius: 30px;
    margin-top: 20px;
    /* padding-top: 1px; */
    padding-bottom: 1px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 0px;
}
span{
    border: 1px solid rgb(221, 61, 3);
    background-color: rgb(221, 61, 3);
    border-radius: 30px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    

}
a{
    border: 1px solid rgb(135, 97, 2);
    background-color: rgb(135, 97, 2);
    border-radius: 30px;
    margin-top: 10px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;

    padding-left: 15px;
    padding-right: 15px;
    
}
.main-body{
    width: 70%;
}
mat-form-field{
    width: 920px;
    margin-top: 5px;
   
    padding: 0px;
    background-color: rgb(204, 203, 203);
  }
th p{
    margin:10px;
    padding-left:10px;
}
mat-label{
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}
input{
  color: white;
}